@import './variables.scss';

/*** Generic ***/
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  left: 0;
  top: 0;
}
/*** End Generic ***/

/*** Status Bar ***/
.status-bar {
  color: $white-color;
  padding: 16px;
  width: 395px;
  display: flex;

  h3 {
    color: inherit;
    padding: 0;
    margin: 0;
  }
}
/*** End Status Bar ***/

/*** Loading Overlay ***/
@keyframes spinner-animation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.spinner-rolling {
  width: 405px;
  height: 617.5px;
  display: inline-block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
}
.spinner-animation {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;

  div {
    box-sizing: content-box;
    animation: spinner-animation 1s linear infinite;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 120px;
    height: 120px;
    border: 10px solid #1d70b8;
    border-top-color: transparent;
    border-radius: 50%;
  }
}
/*** End Loading Overlay ***/
