@import './variables.scss';

/*** Generic ***/
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  left: 0;
  top: 0;
}
/*** End Generic ***/

/*** Status Bar ***/
.status-bar {
  color: $white-color;
  padding: 16px;
  width: 395px;
  display: flex;

  h3 {
    color: inherit;
    padding: 0;
    margin: 0;
  }
}
/*** End Status Bar ***/
