@import './variables.scss';

/*** Electron reset ***/
html {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

input,
textarea,
select,
button,
img {
  -webkit-user-drag: none;
}

.draggable {
  -webkit-app-region: drag;
}

.selectable {
  -webkit-user-select: auto;
  cursor: auto;
}
/*** End Electron reset ***/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: $screen-width;
  max-height: $screen-height;
  width: 100vw;
  height: 100vh;
}

.govuk-width-container {
  max-width: $max-body-width;
  &--align-centre {
    margin-top: 90px;
  }
}

.neutral {
  color: #505a5f;
}

.fail {
  color: #d4351c;
}

.pass {
  color: #00703c;
}

.warning {
  color: #f47738;
}

.photoContainer {
  &--photo {
    border: 10px solid rgb(255, 255, 255);
    background-repeat: no-repeat;
    height: 617.5px;
    width: 405px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 2px 6px 2px #bfc1c3;
  }
}

.shadow {
  box-shadow: 0px 2px 6px 2px #bfc1c3;
  display: block;
  height: 100%;
}

/*** Helpers ***/
.bg {
  &--neutral {
    background-color: $neutral-color;
  }
  &--passed {
    background-color: $passed-color;
  }
  &--failed {
    background-color: $failed-color;
  }
  &--warning {
    background-color: $warning-color;
  }
}

.font {
  &--16pt {
    font-size: 16pt;
  }
  &--19pt {
    font-size: 19pt
  }
  &--m {
    font-size: 1.2rem;
  }
  &--l {
    font-size: 1.8rem;
  }
  &--xl {
    font-size: 2.5rem;
  }
  &--xxl {
    font-size: 4.5rem;
  }
}
/*** End Helpers ***/

.flex-direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
