@import './variables.scss';

/*** Electron reset ***/
html {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

input, textarea, select, button, img {
  -webkit-user-drag: none;
}

.draggable {
  -webkit-app-region: drag;
}

.selectable {
  -webkit-user-select: auto;
  cursor: auto;
}
/*** End Electron reset ***/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: $screen-width;
  max-height: $screen-height;
  width: 100vw;
  height: 100vh;
}

.govuk-width-container {
  margin: 0 auto 0 auto;
  max-width: $max-body-width;
}

.neutral {
  color: #505a5f;
}

.fail {
  color: #d4351c;
}

.pass {
  color: #00703c;
}

.warning {
  color: #f47738;
}

.photoContainer {
  &--photo {
    background-repeat: no-repeat;
    margin-bottom: 0;
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 10px #fff;
  }
}

.shadow {
  box-shadow: 0px 2px 6px 2px #bfc1c3;
  display: block;
}

/*** Helpers ***/
.padding {
  &-5 {
    padding: 5px;
  }
}

.bg {
  &--neutral {
    background-color: $neutral-color;
  }
  &--passed {
    background-color: $passed-color;
  }
  &--failed {
    background-color: $failed-color;
  }
  &--warning {
    background-color: $warning-color;
  }
}
/*** End Helpers ***/
