@import './variables.scss';

.dragable {
  -webkit-app-region: drag;
  padding-top: 10px;
}

// @code debt
.govuk-table__row {
  .padding {
    &-right {
      &-20 {
        padding-right: 20px;
      }
    }
  }
}

/*** LiveImage ***/
.live-image {
  transform: rotate(90deg);
  margin-left: calc(
    (-#{$cam-resolution-width}px / 2) - (-#{$live-image-width}px / 2)
  );
  // margin-left: -405px;
}
/*** End LiveImage ***/
