/*** Colours ***/
$neutral-color: #505a5f;
$passed-color: #00703c;
$failed-color: #d4351c;
$warning-color: #f47738;
$info-color: #1d70b8;
$white-color: #fff;
/*** End Colours ***/

/*** Resolution ***/
$screen-width: 1920px;
$screen-height: 1280px;
$body-margin: 48px;
$max-body-width: calc(#{$screen-width} - #{$body-margin * 2});
/*** End Resolution ***/

/*** Camera Resolution ***/
$cam-resolution-width: 1920;
$cam-resolution-height: 1080;
$live-image-width: 405px;
$live-image-height: 617.5px;
$scale-factor: 0.379;
/*** End Camera Resolution ***/
