.responsive {
  width: 100%;
  height: auto;
  column-width: auto;
}

.neutral {
  color: #505a5f; 
}

.fail {
  color: #d4351c; 
}

.pass {
  color: #00703c; 
}

.warning {
  color: #f47738;
}

.header-width {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.header-text {
  padding-left: 0px;
}